/* reset  */
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* general settings */
.blu{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: center;
}
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 60%;
    margin: auto;
}
.small-container{
    width: 50%;
    margin: auto;
}
h2{
    font-size: 2.5rem;
}
/* header + nav */

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
nav li{
    margin-inline: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}
nav li:hover{
    border-bottom: 2px solid black;
}
header{
    background-color: #B4D0E7;
}
header .container{
    padding-top: 10rem;
}
header h1{
    font-size: 5rem;
}
.header-text{
    max-width: 30%;
}
.header-text .blu{
    margin: 2rem 0;
}
.header-image{
    max-width: 70%;
}
.header-image img{
    width: 100%;
    margin-bottom: -5rem;
}
.header-info{
    margin-top: 3rem;
    display: flex;
}
.arrow{
    font-size: 3rem;
    margin-top: 2rem;
    color: black;
}
/* main  */
.buisness{
    padding-top: 7rem;
}
.radio-section{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 5rem 0;
}
.radio-option{
    display: flex;
}
.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.radio-on{
    border: 5px solid blue;
}
.radio-off{
    border: 2px solid gray;
}
/* subscription area */
.plans{
    display: flex;
    justify-content: space-between;
}
.sub-container{
    border: 1px solid gray;
    width: calc(100% / 3 - 2rem);
}
.all-info{
    padding: 2rem 1.5rem;
}
.cat{
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid gray;
}
.sub-type{
    font-size: 1.5rem;
    font-weight: bold;
}
.price{
    font-weight: bold;
    margin-top: 1.5rem;
}
.payment-time{
    margin-top: 1rem;
    color: gray;
}
.tech-info{
    margin-top: 4rem;
}
.users, .space, .share {
    margin-top: 2rem;
}
.buy{
    margin-top: 3rem;
}
.buy-now{
    margin-top: 2rem;
}
.all-info hr{
    width: 20%;
    border: 1px solid gray;
    margin-top: 2.5rem;
}
.list-title{
    font-weight: bold;
}
.advantages{
    margin-top: 3rem;
}
.advantages ul{
    margin-top: 2rem;
    list-style: none;
}
.advantages li::before{
    content: "\2713";
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}
.advantages li{
    margin-top: 1rem;
    text-indent: -20px;
    padding-left: 20px;
}
.sub-container-foot{
    margin-top: 3rem;
    max-height: 250px;
}
.sub-container-foot .cat{
    border: 1px solid gray;
}
.sub-container-foot .all-info{
    display: flex;
    border: 1px solid gray;
}
.container-right{
    width: 30%;
}
.container-left{
    width: 70%;
}
.solution{
    margin: 3rem 0;
}
.plan-foot .all-info{
    padding: 2rem 1.5rem 0 1.5rem;
}
/* partner area  */
.partner{
    display: flex;
    margin-top: 10rem;
}
.partner-img{
    width: 60%;
    margin-right: 3rem;
}
.partner-img img{
    width: 100%;
}
.partner-text{
    width: calc(40% - 3rem);
    line-height: 1.3rem;
}
.partner-btn{
    padding: 10px 15px;
    border: 2px solid gray;
    text-align: center;
    background-color: white;
    margin-top: 2rem;
}
.partner-title{
    margin-top: 5rem;
}
.partner-desc{
    margin-top: 1.5rem;
}
/* feature area  */
.buisness-feature{
    margin-top: 10rem;
}
.feature{
    width: calc(100% / 3 - 2rem);
    margin-top: 2rem;
}
.feat-img{
    width: 100%;
}
.feat-img img{
    width: 100%;
}
.feature-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feat-desc{
    margin-top: 2rem;
}
/* dropbox users */
.dropbox-users{
    margin-top: 10rem;
}
.find-out{
    margin-top: 3rem;
}
/* agency  */
.agency-area{
    width: 100%;
    margin-top: 10rem;
    display: flex;
}
.agency-block{
    display: flex;
    width: calc(100% / 3);
    flex-wrap: wrap;
}
.agency{
    width: calc(100% /2);
    aspect-ratio: 1/1;
    padding: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agency img{
    width: 100%;
    filter: invert();
}
.ag1{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}
.ag2{
    background-color: #61082B;
}
.ag3{
    background-color: #0093CE;
}
.ag4{
    background-color: #FF1C1C;
}
.ag6{
    background-color: #D5001F;
}
.ag7{
    background-color: #B4D0E7;
}
.ag8{
    background-color: #0D2481;
}
.ag9{
    background-color: #FFD830;
}
.central-block{
    background-color: #F5F5F5;
    padding: 4rem;
    overflow: scroll;
}
.central-block hr{
    border: 1px solid lightgray;
    flex: 0 0 20%;
    height: 0;
}
.agency-img{
    flex-basis: 100%;
}
.agency-img img{
    width: 50%;
}
/* free tira  */
.trial-area{
    background-color: #B4D0E7;
    padding: 8rem 0;
}
.trial-area .small-container{
    display: flex;
    justify-content: space-between;
}
.free-trial-btn{
    padding: 10px 15px;
    border: none;
    text-align: center;
    flex-shrink: 0;
    align-self: flex-start;
}
/* questions */
.question-area{
    margin-top: 8rem;
}
.questions{
    margin-top: 2rem;
}
.question{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.border{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}